<div class="w-full h-full bg-gray-200">
  <div class="flex flex-no-wrap">
    <!-- Sidebar starts -->
    <div class="absolute lg:relative w-64 {-- h-screen --} shadow bg-gray-100 hidden lg:block"
         style="min-height: 700px">
      <div class="h-16 w-full flex items-center px-8">
        <p class="font-bold">Spring OAuth</p>
      </div>
      <ul class="py-6">
        <li
          class="pl-6 cursor-pointer text-sm leading-3 tracking-normal pb-4 pt-5 text-indigo-700 focus:text-indigo-700 focus:outline-none">
          <a routerLink="/dashboard">
            <div class="flex items-center">
              <div>
                <svg class="icon icon-tabler icon-tabler-grid" fill="none"
                     height="20" stroke="#000" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"
                     viewBox="0 0 24 24" width="20" xmlns="http://www.w3.org/2000/svg">
                  <path d="M0 0h24v24H0z" stroke="none"/>
                  <rect height="6" rx="1" width="6" x="4" y="4"/>
                  <rect height="6" rx="1" width="6" x="14" y="4"/>
                  <rect height="6" rx="1" width="6" x="4" y="14"/>
                  <rect height="6" rx="1" width="6" x="14" y="14"/>
                </svg>
              </div>
              <a class="ml-2 text-gray-900">Dashboard</a>
            </div>
          </a>
        </li>
        <li
          class="pl-6 cursor-pointer text-sm leading-3 tracking-normal pb-4 pt-5 text-black focus:outline-none">
          <a routerLink="/user">
            <div class="flex items-center">
              <div>
                <svg class="bi bi-person-circle" fill="currentColor" height="16" viewBox="0 0 16 16"
                     width="16" xmlns="http://www.w3.org/2000/svg">
                  <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0"/>
                  <path
                    d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1"
                    fill-rule="evenodd"/>
                </svg>
              </div>
              <a class="ml-2 text-gray-900">User</a>
            </div>
          </a>
        </li>
      </ul>
      <div class="flex flex-col justify-between h-full">
        <ul class="py-6">
          <!-- Your existing UL content goes here -->
        </ul>
        <div class="sticky bottom-0 bg-gray-100 shadow">
          <button (click)="logout()"
                  class="pl-6 pb-4">
            <div class="flex items-center">
              <div>
                <svg class="bi bi-box-arrow-right" fill="currentColor" height="16" viewBox="0 0 16 16"
                     width="16" xmlns="http://www.w3.org/2000/svg">
                  <path d="M10 12.5a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v2a.5.5 0 0 0 1 0v-2A1.5 1.5 0 0 0 9.5 2h-8A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-2a.5.5 0 0 0-1 0z"
                        fill-rule="evenodd"/>
                  <path d="M15.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L14.293 7.5H5.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708z"
                        fill-rule="evenodd"/>
                </svg>
              </div>
              <a class="ml-2 text-gray-900">Logout</a>
            </div>
          </button>
        </div>
      </div>
    </div>

    <!-- Sidebar ends -->
    <div class="w-full">
      <!-- Navigation starts -->
      <nav class="h-16 flex items-center lg:items-stretch justify-end lg:justify-between bg-white shadow relative z-10">
        <div class="hidden lg:flex w-full pr-6">
          <div class="w-1/2 h-full hidden lg:flex items-center pl-6 pr-24">

          </div>
          <div class="w-1/2 hidden lg:flex">
            <div class="w-full flex items-center pl-8 justify-end">
              <div class="flex items-center relative cursor-pointer">
                <div class="rounded-full">

                  <div class="relative">
                    <img alt="display avatar" class="rounded-full h-10 w-10 object-cover" role="img"
                         src="{{me?.avatar}}"/>
                    <div
                      class="w-2 h-2 rounded-full bg-green-400 border border-white absolute inset-0 mb-0 mr-0 m-auto"></div>
                  </div>
                </div>
                <p class="text-gray-800 text-sm mx-3">{{ me?.displayName }}</p>
                <button (click)="profileDropdownHidden = !profileDropdownHidden" aria-label="open profile options"
                        class="cursor-pointer text-gray-600 focus:outline-none">

                </button>
              </div>
            </div>
          </div>
        </div>
      </nav>

      <div *ngIf="route.includes('/dashboard')" class="w-full md:w-1/2 lg:w-1/4 mx-auto mt-10">
        <div class="bg-white  shadow rounded p-10">
          <div class="pt-4 px-4 flex items-center justify-between pb-8">

          </div>
          <div class="flex justify-center w-full mb-3">
            <div class="w-16 h-16 rounded border border-white dark:border-gray-700 shadow">
              <img alt="boy avatar" class="focus:outline-none w-full h-full overflow-hidden object-cover rounded"
                   src="{{me?.avatar}}" tabindex="0"/>
            </div>
          </div>
          <h5 class="focus:outline-none mb-2 text-base text-gray-800 leading-4 font-normal tracking-normal text-center"
              tabindex="0">{{ me?.displayName }}
            / {{ me?.username }}</h5>
          <p
            class="focus:outline-none mb-4 text-sm text-gray-600 dark:text-gray-400 leading-3 font-normal tracking-normal text-center"
            tabindex="0">{{ me?.email }}</p>
          <p
            class="focus:outline-none mb-2 text-base text-gray-800 leading-4 font-medium tracking-normal text-center"> {{ me?.authProviderType }}</p>
          <div class="container mx-auto grid sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-2 pt-6 gap-4">
            <ng-container *ngFor="let authority of me?.authorities">
              <div aria-label="gray background badge"
                   class="focus:outline-none bg-gray-700 dark:bg-gray-800 h-6 w-40 mb-4 md:mb-0 rounded-md flex items-center justify-center"
                   tabindex="0">
                <span class="text-xs text-white whitespace-nowrap font-normal">{{ authority }}</span>
              </div>
            </ng-container>
          </div>
        </div>
      </div>

      <div *ngIf="route.includes('/user')">
        <app-profile-info-update></app-profile-info-update>
      </div>

      <div *ngIf="route.includes('/dashboard')" class="w-full md:w-1/2 lg:w-1/4 mx-auto mt-10">
        <button
          (click)="discord()"
          class="mx-2 my-2 bg-indigo-700 transition duration-150 ease-in-out hover:bg-indigo-600 rounded text-white px-8 py-3 text-sm focus:outline-none focus:ring-2 focus:ring-offset-2  focus:ring-indigo-600">
          Discord
        </button>
        <button
          (click)="admin()"
          class="mx-2 my-2 bg-indigo-700 transition duration-150 ease-in-out hover:bg-indigo-600 rounded text-white px-8 py-3 text-sm focus:outline-none focus:ring-2 focus:ring-offset-2  focus:ring-indigo-600">
          Admin
        </button>
        <button
          (click)="user()"
          class="mx-2 my-2 bg-indigo-700 transition duration-150 ease-in-out hover:bg-indigo-600 rounded text-white px-8 py-3 text-sm focus:outline-none focus:ring-2 focus:ring-offset-2  focus:ring-indigo-600">
          User
        </button>
      </div>
    </div>
  </div>

</div>
