<div class="container mx-auto py-10 h-64 w-fit px-6">
  <h2 aria-label="enter Personal data" class="text-xl font-semibold leading-7 text-gray-800 mt-10" role="heading">
    Personal
    data</h2>

  <form [formGroup]="userFormGroup">
    <div class="mt-8 md:flex items-center">
      <div class="flex flex-col w-full">
        <label class="mb-3 text-sm leading-none text-gray-800">Username</label>
        <input aria-label="Enter first name" class=" w-full bg-gray-100 text-sm font-medium leading-none text-gray-800 p-3 border rounded border-gray-200
                  focus:outline-0 focus:ring-2 focus:ring-offset-1 focus:ring-indigo-700" formControlName="username"
               tabindex="0"
               type="text"/>
      </div>
    </div>
    <div class="mt-12 md:flex items-center">
      <div class="flex flex-col">
        <label class="mb-3 text-sm leading-none text-gray-800">Email Address</label>
        <input aria-label="Enter email Address" class="w-80 bg-gray-100 text-sm font-medium leading-none text-gray-800 p-3 border rounded border-gray-200
                  focus:outline-0 focus:ring-2 focus:ring-offset-1 focus:ring-indigo-700" formControlName="email" tabindex="0"
               type="email"
               value="smith.william@gmail.com"/>
      </div>
      <div class="flex flex-col md:ml-12 md:mt-0 mt-8">
        <label class="mb-3 text-sm leading-none text-gray-800">Phone number</label>
        <input aria-label="Enter phone number" class="w-80 bg-gray-100 text-sm font-medium leading-none text-gray-800 p-3 border rounded border-gray-200
                  focus:outline-0 focus:ring-2 focus:ring-offset-1 focus:ring-indigo-700" formControlName="phoneNumber" tabindex="0"
               type="number"
               value="+81 839274"/>
      </div>
    </div>
    <div class="mt-12 md:flex items-center">
      <div class="flex flex-col">
        <label class="mb-3 text-sm leading-none text-gray-800">Date of birth</label>
        <input aria-label="Enter date of birth" class="w-80 bg-gray-100 text-sm font-medium leading-none  text-gray-800 p-3 border rounded border-gray-200
                  focus:outline-0 focus:ring-2 focus:ring-offset-1 focus:ring-indigo-700" formControlName="dateOfBirth" tabindex="0"
               type="text"
               value="28.03.1997"/>
      </div>
      <div class="flex flex-col md:ml-12 md:mt-0 mt-8">
        <label class="mb-3 text-sm leading-none text-gray-800">Place of birth</label>
        <input aria-label="Enter place of birth" class="w-80 bg-gray-100 text-sm font-medium leading-none text-gray-800 p-3 border rounded border-gray-200
                  focus:outline-0 focus:ring-2 focus:ring-offset-1 focus:ring-indigo-700" formControlName="placeOfBirth" tabindex="0"
               type="text"
               value="San Diego, CA, USA"/>
      </div>
    </div>

    <button (click)="saveUser()" aria-label="Submit"
            class="flex items-center justify-center py-3 px-7 focus:outline-0 focus:ring-2 focus:ring-offset-1 focus:ring-indigo-700 bg-white border rounded border-gray-400 mt-7 md:mt-14 hover:bg-gray-100"
            role="button">
      <span class="text-sm font-medium text-center text-gray-800 capitalize">Submit</span>
    </button>
  </form>

</div>
